.s1{
    color:brown;
}

.s2{
    color: blue;
}

.s3{
    color:brown
}

.s4{
    color: blue;
}

.s5{
    color:brown
}

.s6{
    color: blue
}

.s7{
    color: brown;
}

.s8{
    color: blue;
}

.s9{
    color: brown;
}

.pr{
    padding: 10px;
    border-style: ridge;
    border: 2px solid aquamarine;
    margin: 20px;

    border-left: 5px solid brown;
    border-right: 5px solid burlywood;
    border-top: 5px solid crimson; 
    border-bottom: 5px solid cornsilk ;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslateblue;
}

#parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.box{
    width: 200px;
    height: 200px;
    border: 3px solid rgb(150, 130, 238);
    border-radius: 30px;
    background-color: antiquewhite;
    background: linear-gradient(to right rgb(149, 149, 229),rgb(244, 167, 167),rgb(234, 195, 123),rgb(38, 12, 12));
    display: flex;
    justify-content: center;
    align-items: center;
}