.s1{
    color:brown
}

.s2{
    color: blue;
}

.s3{
    color:brown
}

.s4{
    color: blue;
}

.s5{
    color:brown
}

.s6{
    color: blue
}

.s7{
    color: brown;
}

.s8{
    color: blue;
}

.s9{
    color: brown;
}

.pr{
    padding: 10px;
    border-style: ridge;
    border: 2px solid aquamarine;
}